<% unless human_signed_in? %>
<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Airdogndog allows you to connect with other dog owners for doggie benefit.</p>
  <p>Arrange for a dog sitter, a puppy play date, or even find a dog to love on while you're traveling and stressed.</p>
  <p>
    <%= link_to 'Sign in to get started &raquo;'.html_safe, new_human_registration_path, :class => 'btn btn-lg btn-primary' %>
  </p>
</div>
<% end %>

<div class="row">
<% @dogs.each do |dog| %>
  <div class="col-md-4">
    <h2><%= dog.name %></h2>
    <p><i><%= dog.gender %> <%= distance_of_time_in_words dog.birthday, Date.today %> old</i></p>
    <p>Hi, I'm <%= dog.name %>, my human is <%= dog.human_name %>!</p>
    <p><%= link_to 'Show', dog, :class => 'btn btn-default' %></p>
  </div>
<% end %>
</div>
