<p id="notice"><%= notice %></p>

<p>
  <strong>Birthday:</strong>
  <%= @dog.birthday %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @dog.gender %>
</p>

<p>
  <strong>Human:</strong>
  <%= @dog.human %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
